
@font-face {
    font-family: PressStart;
    src: url(../fonts/PressStart.ttf);
}
@font-face {
   font-family: Bahiana;
    src: url(../fonts/Bahiana.ttf);
}
@font-face {
   font-family: CabinSketchBold;
    src: url(../fonts/CabinSketchBold.ttf);
}
@font-face {
   font-family: CabinSketchRegular;
    src: url(../fonts/CabinSketchRegular.ttf);
}
@font-face {
   font-family: Neucha;
    src: url(../fonts/Neucha.ttf);
}
@font-face {
   font-family: Gloria;
    src: url(../fonts/GloriaHallelujah.ttf);
}

@media (min-width: 1225px){

html{
height:100%;
width:100%;
}

BODY{
background:
-webkit-radial-gradient(circle, rgba(229,132,244,0.8) 7%, rgba(231,246,133,0.8) 77%,rgba(229,132,244,0.8) 15%) fixed,no-repeat,
url("../imgs/pattern.jpg") repeat;
margin:0;
height: 100%;
}
header{
width: 700px;
height: 200px;
position:relative;
margin-right:auto;
margin-left:auto;
z-index:10;
}
header img{

width: 700px;
height: 200px;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
filter:saturate(5);
filter:brightness(200%); 
z-index:2;
}


li{
list-style-type:none;
padding: 5px;
margin-left:-20px;
transition: all 1.5s;
}

nav {
padding-top:0px;
position:fixed;
top:25%;
left:0%;
background-color:#B760DC;
width: 7.5%;
height: 40%;
height:auto;
width:auto;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
z-index:21;

}

#titulo1{
float:top;
}

#titulo2{
float:top;
}


#twitter{
width:55%;
height:55%;
transition: all 0.5s;
}

#twitch{
width:55%;
height:55%;
transition: all 0.5s;
}

#youtube{
width:55%;
height:55%;
transition: all 0.5s;
}

li:hover #twitter{
width:65%;
height:65%;
transition: all 0.5s;
}

li:hover #twitch{
width:65%;
height:65%;
transition: all 0.5s;
}

li:hover #youtube{
width:65%;
height:65%;
transition: all 0.5s;
}

.links{
font-size:34px;
font-family:pressStart;
color: #FFFF7B;
text-shadow: -1px 0 #6B1A8E, 0 3px #6B1A8E, 1px 0 #6B1A8E, 0 -1px #6B1A8E;
z-index:9;
}


section{
top:-200px;
background-color: #FFB8CE;
position:relative;
margin-left:auto;
margin-right:auto;
width: 900px;
height: 120%;
border-right:6px solid #ea0d51;
border-left:6px solid #ea0d51;
z-index: 1;
}

#contenido{
position:absolute;
border:3px solid red;
background: -webkit-linear-gradient(#d2be50,#ffee8f,#d2be50);
border-radius: 50px 50px 0px 0px;
box-shadow: 2px 2px 0px 2px #cf5cff;
border: 2px solid #cf5cff;
top: 250px;
left: 50px;
width:785px;
min-height:400px;
height:55%;
padding: 15px;
margin-bottom:40px;

}

#sobrenosotros, #staff, #noticias{
border:2px solid #cf5cff;
height: 55px;
margin: 5px;
border-radius: 50px 50px 0px 0px;
background-color: #FFB8CE;
}

.menu{
opacity: 0.01;
z-index:100;
}

#us{
display:block;
width:100%;
position:absolute;
top:40px;
}

#sta{
display:block;
width:95%;
position:absolute;
top:210px;
}

#pepe{
margin-top:40px;
}

#contenido div:nth-child(2n+1) h2,label{
font-family:PressStart;
text-align:center;
text-transform: uppercase;
color: #feff83;
text-shadow: -1px 0 #6B1A8E, 0 3px #6B1A8E, 1px 0 #6B1A8E, 0 -1px #6B1A8E;
transition:all 1s;
font-size:24px;
font-weight:bold;
}

#contenido div:nth-child(2n+1) label:hover{
letter-spacing:10px;
}

#contenido div:nth-child(2) p{
font-family:Neucha;
font-weight:bold;
font-size:18px;
color: #6B1A8E;
}

#contenido div:nth-child(4){
text-align:center;
}

#contenido #manolo span{
font-family:Gloria;
font-weight:bold;
padding: 6px;
}

#manolo{
margin-top:40px;
text-align:center;
}

#contenido #manolo a{
text-decoration:none;
color:#6B1A8E;
font-size:20px;
transition:all 1s;

}

#contenido #manolo a:hover{
color:#ff799c;
font-size:11px;

}

aside{
right:0%;
top:25%;
padding-top:0px;
position:fixed;
background-color:#B760DC;
width: 7.5%;
height: 40%;
height:auto;
width:auto;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
z-index:21;
}


#lol{
width:50%;
height:50%;
transition:all 1s;
}

#poke{
width:50%;
height:50%;
transition:all 1s;
}

li:hover #lol{
width:60%;
height:60%;
}


li:hover #poke{
width:60%;
height:60%;
}

footer{
width:100%;
position:fixed;
bottom:0px;
height:25px;
background-color:#000;
color:#FFB8CE;
text-align:center;
z-index:9;
}

.marcador{
color: #FF5681;
}

#marciano{
width:20px;
height:20px;
}

#contact{
text-decoration:none;
color:#FFFF7B;
transition: all 1s;
}

#contact:hover{
color:#FFBF83;
letter-spacing:10px;
}

}


@media (max-width: 1225px) and (min-width:500px){

html{
height:100%;
width:100%;
}

BODY{

background:
-webkit-radial-gradient(circle, rgba(229,132,244,0.8) 7%, rgba(231,246,133,0.8) 77%,rgba(229,132,244,0.8) 15%) fixed,no-repeat,
url("../imgs/pattern.jpg") repeat;
margin:0;
height: 100%;
}
header{
width: 380px;
height: 100px;
position:relative;
margin-right:auto;
margin-left:auto;
z-index:10;
}

header img{

width: 380px;
height: 100px;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
filter:saturate(5);
filter:brightness(200%); 
z-index:2;
}


li{
list-style-type:none;
float:left;

transition: all 1.5s;
}

nav {
padding-top:0px;
position:absolute;
top:27%;
left:0%;
background-color:#B760DC;
height:25px;
width:250px;
box-shadow: 1px 1x 0px 1px #6B1A8E;
border: 1px solid #6B1A8E;
border-radius: 30px;
z-index:21;
overflow:hidden;
transition:all 1s;
}


#titulo1{
position:absolute;
top:-5px;
left:45px;
}

#titulo2{
position:absolute;
top:-5px;
right:10px;
}


#twitter{
position:absolute;
top:25%;
left:120px;
width:15px;
height:15px;
transition: all 0.5s;
}

#twitch{
position:absolute;
top:25%;
left:170px;
width:15px;
height:15px;
transition: all 0.5s;
}

#youtube{
position:absolute;
top:25%;
left:220px;
width:15px;
height:15px;
transition: all 0.5s;
}

li:hover #twitter{
width:18px;
height:18px;
transition: all 0.5s;
}

li:hover #twitch{
width:18px;
height:18px;
transition: all 0.5s;
}

li:hover #youtube{
width:18px;
height:18px;
transition: all 0.5s;
}

.links{
font-size:12px;
font-family:pressStart;
color: #FFFF7B;
text-shadow: -0.5px 0 #6B1A8E, 0 2px #6B1A8E, 1px 0 #6B1A8E, 0 -0.5px #6B1A8E;
z-index:9;
}


section{
top:-200px;
background-color: #FFB8CE;
position:relative;
margin-left:auto;
margin-right:auto;
width:  430px;
height: 210%;
border-right:3px solid #ea0d51;
border-left:3px solid #ea0d51;
z-index: 1;
}

#contenido{
position:absolute;
border:3px solid red;
background: -webkit-linear-gradient(#d2be50,#ffee8f,#d2be50);
border-radius: 50px 50px 0px 0px;
box-shadow: 1px 1px 0px 1px #cf5cff;
border: 1px solid #cf5cff;
top: 250px;
left: 3px;
width:90%;
min-height:400px;
height:65%;
padding: 15px;
margin-bottom:40px;

}

#sobrenosotros, #staff, #noticias{
border:2px solid #cf5cff;
height: 55px;
margin: 5px;
border-radius: 50px 50px 0px 0px;
background-color: #FFB8CE;
}

.menu{
opacity: 0.01;
z-index:100;
}

#us{
display:block;
width:90%;
position:absolute;
top:40px;
}

#sta{
display:block;
width:85%;
position:absolute;
top:275px;
}

#pepe{
margin-top:40px;
}

#contenido div:nth-child(2n+1) h2,label{
font-family:PressStart;
text-align:center;
text-transform: uppercase;
color: #feff83;
text-shadow: -1px 0 #6B1A8E, 0 3px #6B1A8E, 1px 0 #6B1A8E, 0 -1px #6B1A8E;
transition:all 1s;
font-size:20px;
font-weight:bold;
}

#contenido div:nth-child(2n+1) label:hover{
letter-spacing:10px;
}

#contenido div:nth-child(2) p{
font-family:Neucha;
font-weight:bold;
font-size:18px;
color: #6B1A8E;
}

#contenido div:nth-child(4){
text-align:center;
}

#contenido #manolo span{
font-family:Gloria;
font-weight:bold;
padding: 6px;
}

#manolo{
margin-top:40px;
text-align:center;
}

#contenido #manolo a{
text-decoration:none;
color:#6B1A8E;
font-size:20px;
transition:all 1s;

}

#contenido #manolo a:hover{
color:#ff799c;
font-size:15px;

}


aside{
right:-10px;
top:27%;
padding-top:0px;
position:absolute;
background-color:#B760DC;
width: 250px;
height: 25px;
box-shadow: 1px 1x 0px 1px #6B1A8E;
border: 1px solid #6B1A8E;
border-radius: 30px;
z-index:21;
}


#lol{
position:absolute;
top:4px;
width:17px;
height:17px;
transition:all 1s;
}

#poke{
position:absolute;
top:4px;
left:100px;
width:17px;
height:17px;
transition:all 1s;
}

li:hover #lol{
width:21px;
height:21px;
}


li:hover #poke{
width:21px;
height:21px;
}

footer{
width:100%;
position:fixed;
bottom:0px;
height:25px;
background-color:#000;
color:#FFB8CE;
text-align:center;
z-index:9;
}

.marcador{
color: #FF5681;
}

#marciano{
width:20px;
height:20px;

}

#contact{
text-decoration:none;
color:#FFFF7B;
}

#contact:hover{
color:#FFBF83;
}

}

@media (max-width: 501px){

html{
height:100%;
width:100%;
}

BODY{
position:absolute;
top:0px;
bottom:0px;
left:0px;
right:0px;
background:
-webkit-radial-gradient(circle, rgba(229,132,244,0.8) 7%, rgba(231,246,133,0.8) 77%,rgba(229,132,244,0.8) 15%) fixed,no-repeat,
url("../imgs/pattern.jpg") repeat;
margin:0;

}
header{
width: 220px;
height: 80px;
position:relative;
margin-right:auto;
margin-left:auto;
z-index:10;
}

header img{
	
width: 220px;
height: 80px;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
filter:saturate(5);
filter:brightness(200%); 
z-index:2;
}


li{
list-style-type:none;
float:left;

transition: all 1.5s;
}

nav {
margin-top:20px;
padding-top:0px;
position:relative;
top:0%;
background-color:#B760DC;
height:25px;
width:90%;
box-shadow: 1px 1x 0px 1px #6B1A8E;
border: 1px solid #6B1A8E;
border-radius: 30px;
z-index:21;
overflow:hidden;
transition:all 1s;
max-width:240px;
margin-left:auto;
margin-right:auto;
}


#titulo1{
position:absolute;
top:-5px;
left:20px;
}

#titulo2{
position:absolute;
top:-5px;
right:10px;
}


#twitter{
position:absolute;
top:25%;
left:95px;
width:15px;
height:15px;
transition: all 0.5s;
}

#twitch{
position:absolute;
top:25%;
left:140px;
width:15px;
height:15px;
transition: all 0.5s;
}

#youtube{
position:absolute;
top:25%;
left:190px;
width:15px;
height:15px;
transition: all 0.5s;
}

li:hover #twitter{
width:18px;
height:18px;
transition: all 0.5s;
}

li:hover #twitch{
width:18px;
height:18px;
transition: all 0.5s;
}

li:hover #youtube{
width:18px;
height:18px;
transition: all 0.5s;
}

.links{
font-size:12px;
font-family:pressStart;
color: #FFFF7B;
text-shadow: -0.5px 0 #6B1A8E, 0 2px #6B1A8E, 1px 0 #6B1A8E, 0 -0.5px #6B1A8E;
z-index:9;
}


section{
top:-200px;
background-color: #FFB8CE;
position:relative;
margin-left:auto;
margin-right:auto;
width:  240px;
height: 185%;
border-right:3px solid #ea0d51;
border-left:3px solid #ea0d51;
z-index: 1;
}

#contenido{
margin-top:10px;
position:absolute;
border:3px solid red;
background: -webkit-linear-gradient(#d2be50,#ffee8f,#d2be50);
border-radius: 50px 50px 0px 0px;
box-shadow: 1px 1px 0px 1px #cf5cff;
border: 1px solid #cf5cff;
top: 250px;
left: 3px;
width:95%;
height: 60%;
margin-bottom:40px;

}
#sobrenosotros{
position:relative;
}

#sobrenosotros, #staff, #noticias{ /*Caja de todos los labels*/
border:2px solid #cf5cff;
width:95%;
height: 55px;
margin: 3px;
border-radius: 50px 50px 0px 0px;
background-color: #FFB8CE;
}

#us{
position:absolute;
top:5px;
left:15px;
}

.menu{
opacity: 0.01;
z-index:100;
}

#sobre:checked + #pepe p{
visibility:visible;
display:block;
}


#contenido div:nth-child(2n+1) h2, label{
font-family:PressStart;
font-size:14px;
text-align:center;
margin-top:23px;
text-transform: uppercase;
color: #feff83;
text-shadow: -1px 0 #6B1A8E, 0 3px #6B1A8E, 1px 0 #6B1A8E, 0 -1px #6B1A8E;
font-weight:bold;
transition:all 1s;
}


#contenido div:nth-child(2) p{

font-family:Neucha;
font-weight:bold;
font-size:15px;
color: #6B1A8E;
margin:2px;
margin-top:40px;
padding:2px;
visibility:hidden;
display:none;
}

#staff{
position:relative;
top:50px;
}

#sta{
position:absolute;
top:0px;
left:70px;
}

#manolo{
text-align:center;
position:relative;
top:75px;
display:none;
visibility:hidden;

}


#botonstuff:checked ~ #manolo{
visibility:visible;
display:block;

}

#contenido #manolo span{
font-family:Gloria;
font-weight:bold;
padding: 6px;
}

#contenido #manolo a{
text-decoration:none;
color:#6B1A8E;
font-size:10px;
transition:all 1s;

}

#contenido #manolo a:hover{
color:#ff799c;
font-size:11px;
}

aside{

top:-190%;
margin-top:25px;
padding-top:0px;
position:relative;
background-color:#B760DC;
width:90%;
height: 25px;
box-shadow: 1px 1x 0px 1px #6B1A8E;
border: 1px solid #6B1A8E;
border-radius: 30px;
z-index:21;
max-width:240px;
margin-left:auto;
margin-right:auto;
}


#lol{
position:absolute;
top:4px;
width:17px;
height:17px;
transition:all 1s;
}

#poke{
position:absolute;
top:4px;
left:100px;
width:17px;
height:17px;
transition:all 1s;
}

li:hover #lol{
width:21px;
height:21px;
}


li:hover #poke{
width:21px;
height:21px;
}

footer{
width:100%;
position:fixed;
bottom:0px;
height:25px;
background-color:#000;
color:#FFB8CE;
text-align:center;
z-index:9;
}

.marcador{
color: #FF5681;
}

#noticias{
position:relative;
top:75px;
}
#marciano{
width:20px;
height:20px;

}

#contact{
text-decoration:none;
color:#FFFF7B;
}

#contact:hover{
color:#FFBF83;
}

}
