@font-face {
    font-family: PressStart;
    src: url(../fonts/PressStart.ttf);
}
@font-face {
   font-family: Bahiana;
    src: url(../fonts/Bahiana.ttf);
}
@font-face {
   font-family: CabinSketchBold;
    src: url(../fonts/CabinSketchBold.ttf);
}
@font-face {
   font-family: CabinSketchRegular;
    src: url(../fonts/CabinSketchRegular.ttf);
}
@font-face {
   font-family: Neucha;
    src: url(../fonts/Neucha.ttf);
}
@font-face {
   font-family: Gloria;
    src: url(../fonts/GloriaHallelujah.ttf);
}


html{
height:100%;
width:100%;
}

BODY{
background: -webkit-radial-gradient(circle, #e584f4 7%, #feff83 77%,#e584f4 15%);
background-repeat:no-repeat;
background-size: 100%;
background-attachment:fixed;
margin:0px;
height: 100%;
}
header{
width: 700px;
height: 200px;
position:relative;
margin-right:auto;
margin-left:auto;
z-index:10;
}
header img{

width: 700px;
height: 200px;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
filter:saturate(5);
filter:brightness(200%);
z-index:2;
}


li{
list-style-type:none;
padding: 5px;
margin-left:-20px;
transition: all 1.5s;
}

nav {
position:fixed;
top:25%;
left:0%;
background-color:#B760DC;
width: 8%;
height: 40%;
padding:4%;
box-shadow: 2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
z-index:21;
}
nav p{
display:block;
position:fixed;
top: 25%;
left:0.3%;
width: 4.5%;
height:40%;
z-index:22;
}



#twitter{
width:85%;
height:85%;
transition: all 0.5s;
}

#twitch{
width:85%;
height:85%;
transition: all 0.5s;
}

#youtube{
width:85%;
height:85%;
transition: all 0.5s;
}

li:hover #twitter{
width:100%;
height:100%;
transition: all 0.5s;
}

li:hover #twitch{
width:100%;
height:100%;
transition: all 0.5s;
}

li:hover #youtube{
width:100%;
height:100%;
transition: all 0.5s;
}

.links{
display:block;
text-align:center;
position:fixed;
font-family:pressStart;
color: #FFFF7B;
font-size:20px;
font-size:4vw;
text-shadow: -1px 0 #6B1A8E, 0 3px #6B1A8E, 1px 0 #6B1A8E, 0 -1px #6B1A8E;
z-index:9;
}

section{
top:-200px;
background-color: #FFB8CE;
position:relative;
margin-left:auto;
margin-right:auto;
width: 900px;
height: 100%;
border-right:4px dotted #ea0d51;
border-left:4px dotted #ea0d51;
z-index: 1;
}

#contenido{
position:absolute;
border:3px solid red;
background: -webkit-linear-gradient(#d2be50,#ffee8f,#d2be50);
border-radius: 50px 50px 0px 0px;
box-shadow: 2px 2px 0px 2px #cf5cff;
border: 2px solid #cf5cff;
top: 250px;
left: 50px;
width:785px;
height:55%;
padding: 15px;
}

#contenido div:nth-child(2n+1){
border:2px solid #cf5cff;
height: 55px;
margin: 5px;
border-radius: 50px 50px 0px 0px;
background-color: #FFB8CE;
}

#contenido div:nth-child(2n+1) h2{
font-family:PressStart;
text-align:center;
text-transform: uppercase;
color: #feff83;
text-shadow: -1px 0 #6B1A8E, 0 3px #6B1A8E, 1px 0 #6B1A8E, 0 -1px #6B1A8E;
transition:all 1s;
}

#contenido div:nth-child(2n+1) h2:hover{
letter-spacing:10px;
}

#contenido div:nth-child(2) p{
font-family:Neucha;
font-weight:bold;
font-size:18px;
color: #6B1A8E;
}
#contenido div:nth-child(4){
text-align:center;
}
#contenido div:nth-child(4) span{
font-family:Gloria;
font-weight:bold;
padding: 6px;
}

#contenido div:nth-child(4) a{
text-decoration:none;
color:#6B1A8E;
font-size:18px;
transition:all 1s;

}

#contenido div:nth-child(4) a:hover{
color:#ff799c;
font-size:26px;
}

aside{
border:3px solid red;
z-index:11;
background-color:#B760DC;
width: 15%;
height: 40%;
padding:4%;
box-shadow: -2px 2px 0px 2px #6B1A8E;
border: 2px solid #6B1A8E;
border-radius: 30px;
position:fixed;
left:85%;
top:25%;
}

aside p{
display:block;
position:fixed;
top: 20%;
right:0.3%;
width: 4.5%;
height:40%;
max-height: 400px;
z-index:12;
}



#lol{
position:relative;
width:50%;
height:50%;
right:30%;
transition:all 1s;
}

#poke{
position:relative;
width:50%;
height:50%;
right:30%;
margin-left: 4%;
transition:all 1s;
}

li:hover #lol{
width:60%;
height:60%;
}


li:hover #poke{
width:60%;
height:60%;
}

